{{#with user}}
<table class="user pure-table">
  <tr>
    <td>Username</td><td>{{ username }}</td>
  </tr>
  <tr>
    <td>Prénom</td><td>{{ name.first }}</td>
  </tr>
  <tr>
    <td>Nom</td><td>{{ name.last }}</td>
  </tr>
  <tr>
    <td>Mail</td><td>{{ email }}</td>
  </tr>
  <tr>
    <td>Téléphone</td><td>{{ phone }}</td>
  </tr>
  <tr>
    <td>Organisation</td><td>{{ organization }}</td>
  </tr>
  <tr>
    <td>Fonction</td><td>{{ title }}</td>
  </tr>
</table>
<div class="padded">
    <a href="edit/{{ id }}" class="pure-button pure-button-primary">Modifier</a>
<div>
{{/with}}
