{{#with contact}}
<table class="contact pure-table">
  <tr>
    <td>Nom</td><td>{{ fullName }}</td>
  </tr>
  <tr>
    <td>Mail</td><td>{{ email }}</td>
  </tr>
  <tr>
    <td>Téléphone</td><td>{{ phone }}</td>
  </tr>
  <tr>
    <td>Organisation</td><td>{{ organization }}</td>
  </tr>
  <tr>
    <td>Fonction</td><td>{{ title }}</td>
  </tr>
  {{#with address }}
  <tr>
    <td>Adresse</td>
      <td>
      <address>
       <span>{{ number }}</span> <span>{{ street }}</span><br />
       <span>{{ code }}</span> <span>{{ city }}</span><br />
     </address>
    </td>
  </tr>
  {{/with}}
  <tr>
    <td>Etiquettes</td>
    <td>
      <div id="tag-list-{{ id }}" class="padded">
        {{#each tags}}
          {{#isPermitted "contact:update" }}
            {{! TODO Find a way to factor tag and tagEdit}}
            {{>tagEdit}}
          {{else}}
            {{>tag}}
          {{/isPermitted}}
        {{else}}
          Aucune étiquette
        {{/each}}
      </div>
      {{#isPermitted "contact:update" }}
      <div class="padded">
        <form method="POST" action="/contacts/{{ id }}/tags/" class="pure-form">
          <select name="tagId" id="tagId">
            {{#each ../tags}}
            <option value="{{ id }}">{{ name }}</option>
            {{/each}}
          </select>
          <input id="back-{{ id }}" type="hidden" name="urlSource" value="">
          <button type="submit" class="pure-button pure-input-rounded" {{#isEmpty ../tags }}disabled{{/isEmpty}}>
            <i class="fa fa-plus"></i>
          </button>
        </form>
      </div>
      {{/isPermitted}}
    </td>
  </tr>
  <tr>
    <td>Note</td><td>{{ note }}</td>
  </tr>
</table>
{{/with}}
{{#with contact}}
<div class="padded">
  {{#isPermitted "contact:update" }}
  <a href="/contacts/edit/{{ id }}" class="pure-button pure-button-primary" target="_blank">Modifier</a>
  {{/isPermitted}}
  {{#isPermitted "contact:delete" }}
  <button id="delete-{{ id }}" class="pure-button button-error">Supprimer</button>
  {{/isPermitted}}
<div>
{{/with}}
<div class="padded">
<a href="/contacts/" class="pure-button">Retour à la liste</a>
</div>

<script>
    var tags = document.getElementById('tag-list-{{ contact.id }}');
    delegate(tags, 'click', '.tag-remove', function(e) {
      var id = e.actualTarget.getAttribute("data-id");
      removeTagFromContact(id, '{{ contact.id }}').then(function (response) {
        window.location.reload(true);
      }).catch(console.log);
    });
</script>
{{#isPermitted "contact:delete" }}
<script>
    var deleteButton = document.getElementById("delete-{{ contact.id }}");
    deleteButton.addEventListener('click', function(ev) {
      if (confirm('Es-tu sur de vouloir supprimer le contact ?')) {
        deleteContact('{{ contact.id }}').then(function (response) {
          location.assign(window.location.pathname);
        })
        .catch(console.log);
      }
    });
</script>
{{/isPermitted}}
{{#isPermitted "contact:update" }}
<script>
    var addTag = document.getElementById("back-{{ contact.id }}");
    addTag.value = window.location.pathname;
</script>
{{/isPermitted}}
