<form method="GET" action="/contacts/">
  <select name="tagId" id="tagId">
    <option value="">&nbsp;</option>
    {{#tags}}
    <option value="{{ id }}">{{ name }}</option>
    {{/tags}}
  </select>
  <input type="submit" value="Go" />
</form>
<table class="contact-list">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Mail</th>
        <th>Téléphone</th>
      </tr>
    </thead>
    <tbody>
    {{#contacts}}
      <tr>
        <td><a href="/contacts/{{ id }}">See</a></td>
        <td>{{ fullName }}</td>
        <td>{{ email }}</td>
        <td>{{ phone }}</td>
        <td>
          {{#tags}}
            {{> tag }}
          {{/tags}}
        </td>
      </tr>
    {{/contacts}}
    </tbody>
</table>
<a href="edit">Nouveau</a>
