{{#with contact}}
<dl>
  <dt>Nom</dt><dd>{{ fullName }}</dd>
  <dt>Mail</dt><dd>{{ email }}</dd>
  <dt>Téléphone</dt><dd>{{ phone }}</dd>
  <dt>Organisation</dt><dd>{{ organization }}</dd>
  {{#with address }}
  <dt>Adresse</dt><dd>
    <address>
     <span>{{ number }}</span> <span>{{ street }}</span><br />
     <span>{{ code }}</span> <span>{{ city }}</span><br />
   </address>
  </dd>
  {{/with}}
  <dt>Etiquettes</dt><dd>
    <div>
      {{#each tags}}
        {{! TODO Find a way to factor tag and tagEdit}}
        {{>tagEdit}}
      {{else}}
        Aucune étiquette
      {{/each}}
    </div>
    <form method="POST" action="/contacts/{{ contact.id }}/tags/">
      <select name="tagId" id="tagId">
        {{#each ../tags}}
        <option value="{{ id }}">{{ name }}</option>
        {{/each}}
      </select>
      <input type="submit" value="Ajouter" />
    </form>
  </dd>
  <dt>Note</dt><dd>{{ note }}</dd>
</dl>
{{/with}}
{{#with contact}}
<a href="edit/{{ id }}">Edit</a>
{{/with}}
<a href="/contacts/">Back to List</a>

<script>
var remove = function(id) {
    var oReq = new XMLHttpRequest();

    oReq.addEventListener("load", function() {
      location.reload(true);
    });
    oReq.addEventListener("error", console.log);

    oReq.open("DELETE", "/contacts/{{ contact.id }}/tags/" + id);

    oReq.send();
  }, els = document.getElementsByClassName("tag-remove"), el;

  for (var i = 0; i < els.length; i++) {
    el = els[i];
    var tagId = el.getAttribute("data-id");
    el.addEventListener('click', function(ev) {
      remove(tagId);
    });
  }
</script>
